Source: deepin-topbar
Section: base
Priority: optional
Maintainer: kirigaya <kirigaya@mkacg.com>
Build-Depends: debhelper (>= 9),pkg-config, dpkg-dev, qt5-qmake, qtbase5-dev, libdtkbase-dev, libdtkwidget-dev, libdtkcore-dev, libxcb-ewmh-dev, libxcb-util0-dev, libdframeworkdbus-dev ,libgsettings-qt-dev
Standards-Version: 0.1-1
Homepage: http://blog.mkacg.com

Package: deepin-topbar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: topbar for deepin.
